@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from .NET 7</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<hr />
    <div>Host operating system: @Model.OSVersion</div>
    <marquee><h1>Parul University</h1></marquee>
    <h2>Gayathri Naidu</h2>
    <h3>Shubhangi </h3>
    <h4>Thank You</h4>
</div>
